@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-mont), sans-serif;
}

@theme {
  --font-mont: "Montserrat", sans-serif;
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-primary: #B63E96;
  --color-primary-dark: #58E6D9;
}